name: Lint
permissions:
  contents: read

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Installation
        run: pnpm i
      - name: ESLint
        run: pnpm run lint
      - name: Prettier Code
        run: pnpm run format:diff
